{% extends 'wares/base.html' %}

{% block content %}



    <div class="accordion" id="accordionWare">
      <div class="card">

       {% for ware in wares %}

        <div class="card-header" id="heading{{ ware.id }}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ ware.id }}" aria-expanded="false" aria-controls="collapse{{ ware.id }}">
              {{ ware.ware_name }}
            </button>
          </h5>
        </div>

        <div id="collapse{{ ware.id }}" class="collapse" aria-labelledby="heading{{ ware.id }}" data-parent="#accordionWare">
          <div class="card-body">
            <h6 class="card-title">Код производителя: {{ ware.ware_code }}</h6>
            <p class="card-text>">{{ ware.ware_description|linebreaksbr|truncatewords:"50" }}</p>
            <a href="{{ ware.id }}/detail/" class="btn btn-primary">Подробнее</a>
          </div>
        </div>

       {% endfor %}

      </div>
    </div>


    {% if wares.num_pages > 1 %}
    <div class="pagination">
        <span class="step-links">
            {% if wares.has_previous %}
                <a href="?page=1">&laquo; Нач.</a>
                <a href="?page={{ wares.previous_page_number }}">Пред.</a>
            {% endif %}
    
            <span class="current">
                Страница {{ wares.number }} из {{ wares.paginator.num_pages }}.
            </span>
    
            {% if wares.has_next %}
                <a href="?page={{ wares.next_page_number }}">След.</a>
                <a href="?page={{ wares.paginator.num_pages }}">Конец &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

{% endblock %}