{% extends 'wares/base.html' %}


{% block content %}

<div class="card">
  <h5 class="card-header">Описание товара</h5>
  <div class="card-body">
      <h2 class="card-title">{{ ware.ware_name }}</h2>
      <h5>Производитель: {{ ware.ware_vendor }}</h5>
      <h5>Код производителя: {{ ware.ware_code }}</h5>
      <p class="card-test">{{ ware.ware_description|linebreaksbr }}</p>
      <a href="/wares/" class="btn btn-primary">Назад</a>
  </div>
</div>

<div class="footer">

</div>

{% endblock %}